---
import One from '@layouts/One.astro'
---

<One>
  <h2>Confidencialidad</h2>
  <p>
    Una empresa de servicios financieros llamada "FinSafe" almacena información
    confidencial de sus clientes, incluyendo datos personales, información
    financiera y registros de transacciones. Recientemente, se descubrió que un
    empleado descontento copió datos confidenciales de los clientes y los
    compartió con un competidor.
  </p>

  <p>
    <i>1.</i><strong>
      ¿Cómo se ve comprometida la confidencialidad de la información en este
      caso?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Los datos pueden ser expuestos a terceros.
    </li>
    <li class="list-disc list-item">
      Responsabilidad legal y costos financieros.
    </li>
    <li class="list-disc list-item">Accesos no autorizados.</li>
    <li class="list-disc list-item">Pérdida de reputación.</li>
  </ul>
  <p>
    <i>2.</i><strong>
      ¿Cuáles son las posibles consecuencias para FinSafe y sus clientes?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Riesgo de robo de identidad y fraudes a los clientes (e.g. Phising).
    </li>
    <li class="list-disc list-item">
      Multas y sanciones por violación de la privacidad.
    </li>
    <li class="list-disc list-item">Acciones legales contra FinSafe.</li>
  </ul>
  <p>
    <i>3.</i><strong>
      ¿Qué medidas podría haber implementado FinSafe para prevenir este tipo de
      incidente?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">Controles de acceso.</li>
    <li class="list-disc list-item">
      Establecer politicas de seguridad para el acceso y disposición de los
      datos.
    </li>
    <li class="list-disc list-item">
      Limitar el acceso sensible a las empleados de modo que un solo empleado no
      tenga acceso a todo el sistema.
    </li>
  </ul>

  <h2>Integridad</h2>
  <p>
    Una empresa de fabricación llamada "TechPro" utiliza un sistema de gestión
    de inventario para controlar y rastrear sus productos. Recientemente, un
    empleado malicioso alteró intencionalmente la cantidad de productos en el
    inventario, registrando números incorrectos y causando desajustes entre los
    registros y la cantidad real de productos.
  </p>

  <p>
    <i>1.</i><strong>
      ¿De qué manera se viola la integridad de la información en este caso?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Posible acceso a la base de datos no autorizado.
    </li>
    <li class="list-disc list-item">Registros alterados malintencionados.</li>
    <li class="list-disc list-item">
      Desajustes de los registros y la cantidad real de productos.
    </li>
    <li class="list-disc list-item">Perdida de confianza en TechPro.</li>
  </ul>
  <p>
    <i>2.</i><strong
      >¿Cómo puede afectar esto las operaciones de TechPro y la confianza de sus
      clientes?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">Posible perdida de ganancias.</li>
    <li class="list-disc list-item">Clientes molestos hacia la plataforma.</li>
    <li class="list-disc list-item">Inventario incorrecto.</li>
  </ul>

  <p>
    <i>3.</i><strong
      >¿Qué medidas podría haber implementado TechPro para prevenir o detectar
      este tipo de manipulación de datos?</strong
    >
  </p>

  <ul class="pl-6">
    <li class="list-disc list-item">
      Establecer politicas de seguridad para el acceso y disposición de los
      datos.
    </li>
    <li class="list-disc list-item">
      Establecer accesos basado en roles a la base de datos.
    </li>
    <li class="list-disc list-item">
      Monitorear los registros y detectar posibles anomalias.
    </li>
  </ul>

  <h2>Disponibilidad</h2>
  <p>
    Una organización sin fines de lucro llamada "HelpingHands" depende de un
    sistema de gestión de voluntarios en línea para coordinar las actividades de
    sus voluntarios. Recientemente, el sistema experimentó una interrupción
    prolongada debido a una falla del servidor, lo que impidió que los
    voluntarios accedieran a la plataforma y participaran en las tareas
    programadas.
  </p>
  <p>
    <i>1.</i><strong
      >Describe cómo se ve afectada la disponibilidad en este caso.</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Un servidor 'caido' en HelpingHands significa que la plataforma es
      inaccesible a los usuarios.
    </li>
    <li class="list-disc list-item">La organización HelpingHands no existe.</li>
  </ul>

  <p>
    <i>2.</i><strong
      >¿Cuáles son las consecuencias potenciales para HelpingHands y su
      capacidad para brindar servicios a la comunidad?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Retraso para coordinar las actividades de sus voluntarios.
    </li>
    <li class="list-disc list-item">
      Usuarios molestos, baja review en redes sociales.
    </li>
    <li class="list-disc list-item">
      Desconfianza de los usuarios hacia la plataforma.
    </li>
  </ul>
  <p>
    <i>3.</i><strong
      >¿Qué medidas podría haber implementado HelpingHands para garantizar una
      mayor disponibilidad de su sistema?</strong
    >
  </p>
  <ul class="pl-6">
    <li class="list-disc list-item">
      Usar los servicios de la nube(e.g. Google Cloud Platform, AWS) como metodo
      de disponibilidad.
    </li>
    <li class="list-disc list-item">
      Agregar sistemas como 'balanceadores de carga'.
    </li>
    <li class="list-disc list-item">
      Monitorear el sistema para corregirlo rapidamente.
    </li>
  </ul>
</One>
