---
import BaseHead from "@components/BaseHead.astro";
import One from "@layouts/One.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <One>
    <main>
      MAIN
    </main>
  </One>
</html>
