---

---

<section>
  <h2>Caso de estudio 1: Ataque de malware a una red empresarial</h2>
  <p>
    <div>
      <strong>Descripción:</strong> Una empresa experimenta un ataque de malware
      que afecta su red corporativa.
    </div>
    <div>
      <strong>Vulnerabilidad:</strong> Algunos empleados no siguen prácticas
      adecuadas de seguridad, como hacer clic en enlaces desconocidos o abrir
      archivos adjuntos de correos electrónicos sospechosos.
    </div>
    <div>
      <strong>Amenaza:</strong> Un empleado recibe un correo electrónico de
      phishing que contiene un archivo adjunto malicioso. Al abrir el archivo,
      se ejecuta un malware que se propaga por toda la red corporativa.
    </div>
  </p>
  <p>
    <i>1.</i><strong>
      ¿Cuál es la vulnerabilidad en este caso de estudio?</strong
    >
  </p>
  <ul class="pl-6">
    <ul class="pl-6">
      <li class="list-disc list-item">
        Empleados no capacitados para mantener la seguridad de la información.
      </li>
      <li class="list-disc list-item">
        Posible mal configuración en el firewall que impida correos filtrar
        corros buenos de los malos.
      </li>
      <li class="list-disc list-item">
        Dado que el empleado(personas) es el eslabon mas débil en la seguridad
        de la empresa no tener unas politicas bien definidas ante estos posibles
        incidentes es una vulnerabilidad de la empresa y así minimizar los
        daños.
      </li>
    </ul>
    <p>
      <i>1.</i><strong>
        ¿Cuál es la amenaza específica que se aprovecha de la vulnerabilidad?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        La amenaza es un correo que contiene malware.
      </li>
    </ul>
    <p>
      <i>1.</i><strong>
        ¿Cuáles podrían ser las posibles consecuencias o impactos de este ataque
        de malware en la empresa?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        Extorsion, chantaje, robo de información.
      </li>
      <li class="list-disc list-item">
        Es catastrofico para la empresa ya que pondria en riesgo la integridad,
        disponibilidad y su confidencialidad.
      </li>
    </ul>
    <p>
      <i>1.</i><strong>
        ¿Qué medidas de seguridad adicionales podrían haber evitado este ataque?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        Una red mejor configurada (ante posibles malwares).
      </li>
      <li class="list-disc list-item">
        Un empleado bien capacitado puede ser una medida de seguridad.
      </li>
      <li>
        Detectores, filtros o firewalls que analizen el contenido de un email.
      </li>
    </ul>

    <h2>
      Caso de estudio 2: Ataque de denegación de servicio distribuido (DDoS)
    </h2>
    <p>
      <div>
        <strong>Descripción:</strong> Un sitio web de comercio electrónico sufre
        un ataque de denegación de servicio distribuido (DDoS).
      </div>
      <div>
        <strong>Vulnerabilidad:</strong> La infraestructura de la empresa no
        tiene suficientes recursos para manejar grandes volúmenes de tráfico
        entrante.
      </div>
      <div>
        <strong>Amenaza:</strong> Un grupo de atacantes utiliza una botnet para
        enviar una avalancha masiva de solicitudes a la página web del comercio
        electrónico, sobrecargando los servidores y dejando el sitio inaccesible
        para los usuarios legítimos.
      </div>
    </p>
    <p>
      <i>1.</i><strong>
        ¿Cuál es la vulnerabilidad en este caso de estudio?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        El sistema no esta capacitado para prevenir ataques DDoS.
      </li>
      <li class="list-disc list-item">
        Un equipo (devs) que no prevee riesgos y amenazas.
      </li>
    </ul>
    <p>
      <i>2.</i><strong>
        ¿Cuál es la amenaza específica que se aprovecha de la vulnerabilidad?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        La amenaza son personas mal intencionadas que se aprovechan de las
        vulnerabilidades en el sistema y las explotan.
      </li>
    </ul>
    <p>
      <i>3.</i><strong>
        ¿Qué efectos podría tener este ataque de DDoS en el sitio web y en la
        empresa?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        La disponibilidad del E-commerce deja de existir en internet por un
        tiempo.
      </li>
      <li class="list-disc list-item">
        Clientes insatisfechos por la plataforma.
      </li>
      <li class="list-disc list-item">Perdida de dinero.</li>
    </ul>
    <p>
      <i>3.</i><strong>
        ¿Qué medidas de mitigación se podrían implementar para proteger el sitio
        web contra ataques de DDoS?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        Balanceadores de carga como los sevicios en la nube (AWS, GPG).
      </li>
      <li class="list-disc list-item">Empleados capacitados.</li>
      <li class="list-disc list-item">
        Configurar el sistema para que un solo dominio no pueda hacer muchas
        solicitudes y bloquearlo.
      </li>
    </ul>

    <h2>
      Caso de estudio 3: Fuga de información a través de una red Wi-Fi insegura
    </h2>
    <p>
      <div>
        <strong>Descripción:</strong> Un empleado de una empresa utiliza una red
        Wi-Fi pública no segura para acceder a los recursos internos de la
        empresa.
      </div>
      <div>
        <strong>Vulnerabilidad:</strong> La falta de cifrado en la red Wi-Fi
        pública y la ausencia de una VPN (Red Privada Virtual) para el acceso
        remoto a los recursos internos.
      </div>
      <div>
        <strong>Amenaza:</strong> Un atacante que se encuentra en la misma red
        Wi-Fi pública utiliza técnicas de interceptación para obtener acceso no
        autorizado a las comunicaciones del empleado y robar información
        confidencial.
      </div>
    </p>
    <p>
      <i>3.</i><strong>
        ¿Cuál es la vulnerabilidad en este caso de estudio?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">La falta de una VPN en la red.</li>
      <li class="list-disc list-item">
        Falta de capacitación del empleado por acceder a archivos confidenciales
        a traves de una red wi-fi pública.
      </li>
      <li class="list-disc list-item">
        Una red Wi-Fi mal configurada es una vulnerabilidad.
      </li>
    </ul>
    <p>
      <i>3.</i><strong>
        ¿Cuál es la amenaza específica que se aprovecha de la vulnerabilidad?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        Un atacante mal intencionado que se aprovecha de una red Wi-Fi mal
        configurada e usuarios no capacitados que son un eslabon dèbil.
      </li>
    </ul>
    <p>
      <i>3.</i><strong>
        ¿Qué tipos de información podrían estar en riesgo en esta situación?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        La confidencialidad de la información de la empresa podria estar
        comprometida.
      </li>
      <li class="list-disc list-item">
        El atacante podria aprovechar dicha información para obtener acceso a la
        base de datos, a la información privada de los empleados.
      </li>
    </ul>
    <p>
      <i>3.</i><strong>
        ¿Qué medidas de seguridad se pueden implementar para proteger la
        comunicación y los datos en una red Wi-Fi pública?</strong
      >
    </p>
    <ul class="pl-6">
      <li class="list-disc list-item">
        Una red Wi-Fi bien configurada, integra y cifrada podrian ser un buen
        elemento de proteccion.
      </li>
      <li class="list-disc list-item">
        Capacitación a los empleados sobre la proteccion de los datos ningún
        empleado deberia conectarse a una red Wi-Fi pública.
      </li>
    </ul>
  </ul>
</section>
