---
import HeaderLink from './HeaderLink.astro'
---

<header class="py-5 border-b border-1 border-slate-50/30 h-auto relative z-30">
  <nav class="flex h-[40px] items-center px-4 max-w-4xl m-auto">
    <HeaderLink href={'/'}>Blog</HeaderLink>
    <HeaderLink class="pl-4" href={'/pwned'}>Box-Pwned</HeaderLink>
  </nav>
</header>
