---
import Title from '@components/Title.astro'
import { getCollection } from 'astro:content'
import { BUFFER_OVERFLOW } from 'src/consts'
import Link from './Link.astro';

const topOverFLow = (await getCollection(BUFFER_OVERFLOW)).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<section>
  <Title>Buffer Overflow</Title>
  <ul>
    {
      topOverFLow.map((post) => {
        return (
          <Link post={post} />
        )
      })
    }
  </ul>
</section>
