---
import Title from "@components/Title.astro";
import { getCollection } from "astro:content";
import { ESCALATION } from "src/consts";
import FormattedDate from "./FormattedDate.astro";

const topOverFLow = (await getCollection(ESCALATION)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section>
  <Title>Escalation</Title>
  <ul>
      {
        topOverFLow.map(post => {
          return <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`${post.slug}/`}>{post.data.title}</a>
            </li>
        })
      }
  </ul>
</section>