---
import { getCollection } from "astro:content";
import { TOP_VULNERALIBILITIES } from "src/consts";
import Title from "./Title.astro";

const topVulnerabilities = (await getCollection(TOP_VULNERALIBILITIES)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<section>
  <Title>Top Vulnerabilities</Title>
  <ul>
    {
      topVulnerabilities.map((post) => (
        <li>
        
          <a href={`/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>