---
import Title from "@components/Title.astro";
import { getCollection } from "astro:content";
import { NETWORK } from "src/consts";

const result = (await getCollection(NETWORK)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section>
  <Title>Network</Title>
  <ul>
      {
        result.map(post => {
          return <li>
            <a href={`/${post.slug}`}>{post.data.title}</a>
            </li>
        })
      }
  </ul>
</section>