---
import { getCollection } from "astro:content";
import { TRIP } from "src/consts";
import Title from "./Title.astro";
import FormattedDate from "./FormattedDate.astro";

const topTRIP = (await getCollection(TRIP)).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<section>
  <Title>Trip journey</Title>
  <ul>
      {
        topTRIP.map(post => {
          return <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/${TRIP}/${post.slug}/`}>{post.data.title}</a>
            </li>
        })
      }
  </ul>
</section>