---
import Title from '@components/Title.astro'
import { getCollection } from 'astro:content'
import { NETWORK } from 'src/consts'
import Link from './Link.astro';

const result = (await getCollection(NETWORK)).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<section>
  <Title>Network</Title>
  <ul>
    {
      result.map((post) => {
        return (
          <Link post={post} />
        )
      })
    }
  </ul>
</section>
