html, body {
  background-color: #050014;
  color: #eee;
}

h2 {
  color: rgba(255, 0, 0, 0.9);
  font-size: 1.8rem;
  padding-top: 1.4rem;
  font-weight: bold;
}

h3 {
  color: rgba(255, 0, 0, 0.9);
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  color: rgba(255, 0, 0, 0.9);
}

time {
  font-size: .79rem;
  opacity: .9;
  font-style: italic;
  margin-right: .79rem;
}

ul {
  margin: 1.2rem 0;
  list-style: inside;
}

li {
  display: flex;
  list-style: none;
  padding-bottom: 4px;
}

li :global(time) {
  flex: 0 0 130px;
  font-style: italic;
  color: #595959;
}

/* li a:visited {
  color: #8e32dc;
} */

a:hover {
  color:rgba(255, 0, 0, 0.78)
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
}

li > p {
  display: inline;
}

pre {
  padding: 1rem;
  margin: 1rem 0;
}